.Icon {
    width: 50px;
    color: white;
}
.ChatContainer{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Info{
    margin-top: 50%;
    margin-bottom: 50%;
}

.Button:hover{
    color: red;
}

.DataContainer{
    white-space: pre-line;
    background-color: rgba(14, 14, 14, 0.1);
    color:white;
    width: 90%;
}

.ResultContainer{
    width: 90%;
    padding:10px;
    margin: 10px;
    background-color: rgb(217, 217, 217, 0.1);
    font-size: 8pt;
    border-radius: 10px;
}

.SendButton {
color: #ffffff;
padding: 5px 10px;
}

.SendButton:hover {
color: #ffffff;
padding: 5px 10px;
}
  
.SendButton:disabled,
.SendButton[disabled]{
color: #666666;
}