chrome_extension_python==1.0.1
docopt==0.6.2
fastapi==0.110.3
fitz==0.0.1.dev2
img2pdf==0.5.1
ipython==8.12.3
nbconvert==7.16.4
pgadmin4==8.6
pipdeptree==2.19.1
psycopg-binary==3.1.12
psycopg2==2.9.9
PyMuPDF==1.24.2
PySocks==1.7.1
pytesseract==0.3.10
selenium==4.20.0
setuptools==69.5.1
uvicorn==0.29.0
validators==0.28.1
yarg==0.1.9
