fastapi==0.110.3
fitz==0.0.1.dev2
img2pdf==0.5.1
pipdeptree==2.19.1
psycopg2==2.9.9
PyJWT==2.8.0
PyMuPDF==1.24.2
PySocks==1.7.1
pytesseract==0.3.10
selenium==4.20.0
setuptools==69.5.1
SQLAlchemy==2.0.29
uvicorn==0.29.0
