.HistoryLink {
    text-decoration: none;
    color: #fff;
    /* font-size: 12px; */
    width: 50px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
    
    width:5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}
.HistoryLinkCol{
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.HistoryTable{
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}